<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="urls" value="http://88.198.25.11:8080/loginJSON;http://88.198.25.11:8080/loginJSON;http://88.198.25.11:8080/loginJSON"/>
  </appSettings>
</configuration>